
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>


<h1>Create New Blog</h1>
<div data-ng-controller='BlogController'>
<div class="container">
	<div class="row">
		<form role="form" id="contact-form" class="contact-form" data-ng-submit=insertBlog()>
                    <div class="row">
                		<div class="col-md-6">
                  		<div class="form-group">
                            <input type="text" class="form-control" name="Blog Name" autocomplete="off" id="Blog Name" placeholder="Enter MYBlog Name"data-ng-model="Blog.blogname">
                  		</div>
                  	</div>
                    </div>
                  	<div class="row">
                  		<div class="col-md-12">
                  		<div class="form-group">
                            <textarea class="form-control textarea" rows="3" name="Blog Content" id="Blog Content" placeholder="Enter MYBlog Content"data-ng-model="Blog.blogcontent"></textarea>
                  		</div>
                  	</div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                  <button type="submit" class="btn main-btn pull-right">Create Blog</button>
                  </div>
                  </div>
                </form>
	</div>

<div class="row">
<div class="card card-body">
    <h4 class="card-title">Panel title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="flex-row">
        <a class="card-link">Card link</a>
        <a class="card-link">Another link</a>
    </div>
</div></div>
<div class="row">
<div class="panel panel-default">
  <div class="panel-body">Panel Content</div>
  <div class="panel-footer">Panel Footer</div>
</div>
</div>
</div>
</div>

