<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

</style>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div data-ng-controller='UserRequestController'>
<div class="container">


<div class="w3-grey " style="width:940px;margin-top:2vh;">
    <header class="w3-container w3-grey">
      <h3>User Request</h3>
    </header>
</div> 
	
      <table>
      <thead>
      <tr>
      <th>User</th>
      <th>Approve User</th>
      <th>Reject User</th>
      </tr>
      </thead>
      <tbody>
  <tr data-ng-repeat="userrq in userreq">
    <td>{{userrq.firstName}} {{userrq.lastName}}</td>
    <td> <div class="btn-group"> <a  data-ng-click="approveUser(userrq.emailId)" class="btn btn-default">APPROVE</a> </div></td>
    <td> <div class="btn-group"> <a  data-ng-click="rejectUser(userrq.emailId)" class="btn btn-default">REJECT</a> </div></td>
	</tr> 
</tbody>
  </table>
 
		


</div>
</div>
<br>
<div data-ng-controller='BlogRequestController'>
<div class="container">


<div class="w3-grey " style="width:940px;margin-top:2vh;">
    <header class="w3-container w3-grey">
      <h3>Blog Request</h3>
    </header>
</div> 
	
      <table>
      <thead>
      <tr>
      <th>Blog</th>
      <th>Approve Blog</th>
      <th>Reject Blog</th>
      </tr>
      </thead>
      <tbody>
  <tr data-ng-repeat="blogrq in blogreq">
    <td>{{blogrq.blogname}}</td>
    <td> <div class="btn-group"> <a  data-ng-click="approveBlog(blogrq.blogid)" class="btn btn-default">APPROVE</a> </div></td>
    <td> <div class="btn-group"> <a  data-ng-click="rejectBlog(blogrq.blogId)" class="btn btn-default">REJECT</a> </div></td>
	</tr> 
</tbody>
  </table>
 
		


</div>
</div>
<br>
<div data-ng-controller='ForumRequestController'>
<div class="container">


<div class="w3-grey " style="width:940px;margin-top:2vh;">
    <header class="w3-container w3-grey">
      <h3>Forum Request</h3>
    </header>
</div> 
	
      <table>
      <thead>
      <tr>
      <th>Forum</th>
      <th>Approve Forum</th>
      <th>Reject Forum</th>
      </tr>
      </thead>
      <tbody>
  <tr data-ng-repeat="forumrq in forumreq">
    <td>{{forumrq.forumName}}</td>
    <td> <div class="btn-group"> <a  data-ng-click="approveForum(forumrq.forumId)" class="btn btn-default">APPROVE</a> </div></td>
    <td> <div class="btn-group"> <a  data-ng-click="rejectForum(forumrq.forumId)" class="btn btn-default">REJECT</a> </div></td>
	</tr> 
</tbody>
  </table>
 
		


</div>
</div>